* {
    font-family: 'Fira Sans', sans-serif;
}

html {
    background-color: rgba(227, 238, 241, 0.808);
}

h1, span {
    text-align: center;
    margin-top: 35.70vh;
    font-size: 4.38vmax;
    word-spacing: -4.5px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}

.social-links {
    text-align: center;
}

legend {
    text-align: center;
    margin-top: 150px;
}

.uk-margin {
    text-align: center;
}

.uk-card {
    margin-top: 50px;
    font-family: 'Fira Sans', sans-serif;
}

.uk-navbar-nav {
    padding-top: 0.5px;
}
